version: '3'

services:

  #d2c_mp_sales_fcst:
   # image: rhanderh/d2c_mp_sales_forecast_streamlit:000
    #depends_on:
     # - postgres
    #ports:
    #  - "8501:8501"
    #secrets:
    #  - source: streamlit_secrets
    #    target: /app/.streamlit/secrets.toml

  postgres:
    image: postgres
    restart: always
    env_file:
      - ./.streamlit/postgres_secrets.env
    expose:
      - "5433" # Publishes 5433 to other containers but NOT to host machine
    ports:
      - "5433:5433"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./backups:/home/backups
    command: -p 5433
    secrets:
      - source: postgres_secrets
        target: /app/.streamlit/secrets.toml

secrets:
  postgres_secrets:
    file: ./.streamlit/postgres_secrets.env
  streamlit_secrets:
    file: ./.streamlit/secrets.toml

volumes:
  postgres-data: