altair @ file:///tmp/build/80754af9/altair_1599835197802/work
appdirs==1.4.4
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
attrs @ file:///croot/attrs_1668696182826/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1677845287175/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
blinker==1.4
boltons @ file:///croot/boltons_1677628692245/work
Bottleneck @ file:///opt/conda/conda-bld/bottleneck_1657175564434/work
brotlipy==0.7.0
build @ file:///home/conda/feedstock_root/build_artifacts/build_1631843634284/work
cachetools @ file:///tmp/build/80754af9/cachetools_1619597386817/work
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
chardet @ file:///tmp/build/80754af9/chardet_1607706775000/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646056590078/work
comm @ file:///croot/comm_1671231121260/work
commonmark @ file:///Users/ktietz/demo/mc3/conda-bld/commonmark_1630649545323/work
conda==23.3.1
conda-build==3.24.0
conda-package-handling @ file:///croot/conda-package-handling_1672865015732/work
conda_package_streaming @ file:///croot/conda-package-streaming_1670508151586/work
contourpy @ file:///opt/conda/conda-bld/contourpy_1663827406301/work
convertdate @ file:///tmp/build/80754af9/convertdate_1634070773133/work
cryptography @ file:///croot/cryptography_1677533068310/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///croot/cython_1676568029361/work
d2c_mp_sales_forecaster @ file:///home/rhanderh/py_proj/d2c_mp_sales_forecast_streamlit/dist/d2c_mp_sales_forecaster-0.0.1-py3-none-any.whl
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926439650/work
ephem @ file:///tmp/build/80754af9/ephem_1638960312821/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
filelock @ file:///croot/filelock_1672387128942/work
fonttools==4.25.0
future @ file:///croot/future_1677599870788/work
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///croot/gitpython_1674662789231/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
hierarchicalforecast @ file:///home/conda/feedstock_root/build_artifacts/hierarchicalforecast_1677880058862/work
hijri-converter @ file:///tmp/build/80754af9/hijri-converter_1634064010501/work
holidays @ file:///croot/holidays_1673991893668/work
idna @ file:///croot/idna_1666125576474/work
importlib-metadata @ file:///croot/importlib-metadata_1678997070253/work
importlib-resources @ file:///tmp/build/80754af9/importlib_resources_1625135880749/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1680701871216/work
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
jedi @ file:///tmp/build/80754af9/jedi_1644297102865/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
joblib @ file:///croot/joblib_1666298844297/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1676558650973/work
jupyter_client @ file:///croot/jupyter_client_1680171862562/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1679055282532/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
korean-lunar-calendar @ file:///tmp/build/80754af9/korean_lunar_calendar_1634063020401/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
llvmlite==0.39.1
LunarCalendar @ file:///tmp/build/80754af9/lunarcalendar_1646383991234/work
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
matplotlib @ file:///croot/matplotlib-suite_1679593461707/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
munkres==1.1.4
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
neuralprophet @ file:///croot/neuralprophet_1675378002519/work
numba @ file:///croot/numba_1670258325998/work
numexpr @ file:///croot/numexpr_1668713893690/work
numpy @ file:///croot/numpy_and_numpy_base_1672336185480/work
packaging @ file:///croot/packaging_1678965309396/work
pandas==1.5.3
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
patsy==0.5.3
pep517 @ file:///tmp/build/80754af9/pep517_1637305750846/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.4.0
pkginfo @ file:///croot/pkginfo_1679431160147/work
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
plotly @ file:///tmp/abs_7afcdfad-dbbb-49d2-adea-186abf525c45jbnd8p95/croots/recipe/plotly_1658160053621/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024445381/work
pooch @ file:///tmp/build/80754af9/pooch_1623324770023/work
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==3.20.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py @ file:///opt/conda/conda-bld/py_1644396412707/work
pyarrow==11.0.0
pycodestyle @ file:///croot/pycodestyle_1674267221883/work
pycosat @ file:///croot/pycosat_1666805502580/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydeck @ file:///tmp/abs_c06301fd-7800-4748-8e9e-0f9ab34bc0cess8ywq6h/croots/recipe/pydeck_1657894564709/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
PyMeeus @ file:///tmp/build/80754af9/pymeeus_1634069098549/work
Pympler @ file:///tmp/build/80754af9/pympler_1602785470644/work
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pypandoc @ file:///tmp/build/80754af9/pypandoc_1626204668896/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110951836/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pytest==7.1.2
pytest-mock @ file:///home/conda/feedstock_root/build_artifacts/pytest-mock_1665065505275/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///croot/pytz_1671697431263/work
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq @ file:///opt/conda/conda-bld/pyzmq_1657724186960/work
quadprog @ file:///home/conda/feedstock_root/build_artifacts/quadprog_1649862722384/work
requests @ file:///croot/requests_1678709721434/work
rich @ file:///tmp/abs_f016wesp06/croots/recipe/rich_1659708287203/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
scikit-learn @ file:///croot/scikit-learn_1680198742267/work
scipy==1.10.1
semver @ file:///tmp/build/80754af9/semver_1603822362442/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
soupsieve @ file:///croot/soupsieve_1680518478486/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///croot/statsmodels_1676643798791/work
streamlit @ file:///home/conda/feedstock_root/build_artifacts/streamlit_1677199566085/work
tenacity @ file:///tmp/abs_9ca5cd06-f53b-4ea6-8eea-954e11157fddo5mhurpp/croots/recipe/tenacity_1657899103026/work
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
toolz @ file:///croot/toolz_1667464077321/work
torch==1.13.1
torch-lr-finder @ file:///opt/conda/conda-bld/torch-lr-finder_1646949217139/work
torchaudio==0.13.1
torchvision==0.14.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///croot/traitlets_1671143879854/work
typing_extensions @ file:///croot/typing_extensions_1681939499988/work
tzlocal @ file:///croot/tzlocal_1668627599277/work
urllib3 @ file:///croot/urllib3_1680254681959/work
validators @ file:///tmp/build/80754af9/validators_1612286467315/work
watchdog @ file:///tmp/build/80754af9/watchdog_1638367282716/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
zipp @ file:///croot/zipp_1672387121353/work
zstandard @ file:///croot/zstandard_1677013143055/work
